<ion-header>
  <ion-toolbar>
    <ion-title>Chat</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" class="ion-padding">

  <div id="messageScroller" class="messages-scroller">
    <ng-container *ngFor="let message of messages">
      <div [ngClass]="message.author === username ? 'message me' : 'message'">
        {{message.body}}
      </div>
    </ng-container>
  </div>



</ion-content>

<ion-footer>
  <ion-item lines="none">
    <ion-avatar>
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <div class="inputPanel">
      <ion-textarea #messageBody type="text" placeholder="Message..." [autoGrow]="false" (keyup.enter)="send($event, messageBody)">
      </ion-textarea>
      <ion-button (click)="send($event, messageBody)"><ion-icon name="send-outline"></ion-icon></ion-button>
    </div>
  </ion-item>
</ion-footer>




